/* buttons */
.btn {
	white-space: normal;
	font-weight: 700;
	font-size: 1.6rem;
	padding: 0.7rem 1.6rem;
	border-radius: 0.8rem;

	&-primary {
		color: $white;
		background: $primary;

		&:hover {
			text-decoration: none;
			color: $white;
			background: darken($primary, 10);
		}

		&:checked + &,
		&:not(.btn-check) + &:active,
		&:first-child:active,
		&.active,
		&.show {
			color: $white;
			background: darken($primary, 15);
		}
	}

	&-outline-light {
		position: relative;
		color: $dark;
		background: $white;
		border-radius: 0.8rem;
		border: solid 0.2rem $border;

		&:hover {
			text-decoration: none;
			background: darken($white, 10);
			border-color: darken($white, 10);
		}

		&:checked + &,
		&:not(.btn-check) + &:active,
		&:first-child:active,
		&.active,
		&.show {
			background: darken($white, 15);
			border-color: darken($white, 15);
		}
	}
}
