// vars
$images: "../images/";
$fonts: "../fonts/";

// bootstrap grid
$grid-columns: 12;
$grid-gutter-width: 24px;
$grid-gutter-width-mobile: $grid-gutter-width;

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1340px
);

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1302px
);

// colors
$white: white;
$dark: #292929;
$gray: #eeeeee;
$primary: #ed7135;
$secondary: #666666;
$border: #ebebeb;

// base vars
$text-color-base: $secondary;
$body-bg: $white;
$font-family-base: "Commissioner", sans-serif;
$font-size-base: 1.6rem;
$font-weight-base: 400;
$line-height-base: 1.5;
$links-color-base: inherit;

$transition: all 0.3s ease;

// dev2
// dev3
// dev4
