/* buttons */
.btn {
	white-space: normal;
	font-weight: 700;
	font-size: 1.6rem;
	padding: 0.7rem 1.6rem;
	border-radius: 0.8rem;

	&-primary {
		@include button-variant($primary, $primary, $white, darken($primary, 10), darken($primary, 10), $white, darken($primary, 20), darken($primary, 20), $white);
	}

	&-outline-light {
		border: solid 0.2rem $border;

		@include button-variant($white, $border, $dark, darken($white, 10), darken($white, 10), $dark, $dark, $dark, $white);
	}
}
